/* cores utilizadas no projeto:
letras - (24, 147, 214)
*/
.conteudo
{
	width: 650px;
	margin: auto;
	margin-top: 10px;
	border: solid rgb(24, 147, 214) 1px;
	border-radius: 20px;
}
.formulario
{
	width: 500px;
}
input
{
	width: 100%;
	border: solid rgb(24, 147, 214) 1px;
	border-radius: 5px;
}
form
{
	padding: 0 10px 10px 10px;
}
.texto
{
	margin-top: 10px;
	color: rgb(24, 147, 214);
}
body
{
	background-color: white;
}
h1.logo
{
	text-align: center;
	color: white;
	background-color: rgb(24, 147, 214);
	margin: 0;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding-bottom: 10px;
}
p
{
	padding: 0 10px;
}
button
{
	margin-top: 10px;
}
.botao
{
	padding: 0 10px 10px 10px;
}
.botao_voltar
{
	padding: 10px 0;
}